
/* --- global.css --- */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #f4f4f4;
    --text-color: #333;
    --error-color: #e74c3c;
    --success-color: #2ecc71;
        
    }
    
    /* Reset básico */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        background-color: var(--secondary-color);
        color: var(--text-color);
        padding: 20px;
    }
    
    a {
        text-decoration: none;
        color: var(--primary-color);
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    button {
        background-color: var(--primary-color);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: darkgreen;
    }
    
    body {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el contenido verticalmente */
        align-items: center; /* Centra el contenido horizontalmente */
        height: 100vh; /* Hace que el cuerpo tome toda la altura de la ventana */
        margin: 0; /* Elimina los márgenes predeterminados */
    }